{%extends "core/base.html"%}

{% block title %}"Markify"{% endblock %}

{% block content %}
<body class="bg-gray-100">
    <header class="bg-blue-500 text-white p-4">
        <h1 class="text-xl">Welcome to Your Markify</h1>
        <p class="text-md">Your one-stop solution for managing leads, clients, products, and ads.</p>
    </header>

    <main class="container mx-auto  mt-8 p-4">
        <section id="features">
            <h2 class="text-lg px-2 w-1/2 font-semibold mb-4 text-white bg-blue-500 rounded-xl ">Key Features</h2>
            <ul class="px-4 list-disc rounded-xl bg-gray-200 list-inside">
                <li>Save and manage leads and clients</li>
                <li>Create and promote ads from products</li>
                <li>Share ads on social media</li>
                <li>User teams with subscription plans</li>
                <li>Customized email service</li>
                <li>And much more!</li>
            </ul>
        </section>
      <hr class='mt-4'>  
    </body>     
{%endblock%}